.users__form
  .container
    .users__form__body
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          %p ニックネーム
          .field-input
            = f.text_field :name, autofocus: true
        .field
          %p メールアドレス
          .field-input
            = f.email_field :email
        .field
          %p生年月日
          .field-select
            = f.select :year, ["--"], {}, {class: "select_birth_box", id: "select_birth_year"}
            %span年
            = f.select :month, ["--"], {}, {class: "select_birth_box", id: "select_birth_month"}
            %span月
            = f.select :day, ["--"], {}, {class: "select_birth_box", id: "select_birth_day"}
            %span日
        .field
          %p パスワードを設定してください
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: "パスワード(英数字8文字以上)"
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード(確認用)"
        .field
          = f.submit "入力した内容で登録する", class: 'btn registration'
