.wrapper
  .container
    .header__image
      .header__image__title
        %h1 『おうちで作ろう』
        %h2 毎日の料理を楽しみにするレシピ検索アプリ
      .header__image__conents
        %h4 お試し頂きたい機能
        %h3 レシピ詳細表示・レシピ検索機能 
        %p 『豚』でたくさん出てきます。↑
        = link_to new_user_session_path, class: "login" do
          ↓以下はログイン後お試しいただけます。※テストアカウントが貼り付けてあります。
        
        %h3 レシピ投稿機能・マイレシピ機能
        %p マイレシピはレシピ詳細の右上ボタンクリックで保存
        %h3 マイページ機能・つくれぽ機能
        %p ※ヘッダーのユーザーネームをクリック!
        %h3 その他のページも是非お試しください!!
      .header__image__contents__users__field
        %h2 アプリ作成者
        .header__image__contents__users__field--flex
          .header__image__contents__users__field--flex__image
            = image_tag "hiroki.jpg", width: "100px"
          .header__image__contents__users__field--flex__introduction
            %h4 相原 大樹
            %span AIHARA HIROKI
            %P 前職：イタリアンコック
            %p エンジニア転職活動中！
            %a(href="https://twitter.com/tech_hiroki")
              %i.fab.fa-twitter-square
                Twitter 学習の記録
            %a(href="https://github.com/hirokiaihara")
              %i.fab.fa-github
                GitHub 

    .index__recipe__page
      .index__recipe__page__ranks__field
        .title__field
          %i.fas.fa-utensils 
          人気レシピ
        .sub__title 
          %i.far.fa-flag
          つくれぽ数ランキング ▶︎
        .index__recipe__page__ranks__field--flex
          - if @ranks[0].present? && @ranks[1].present? && @ranks[2].present? && @ranks[3].present? && @ranks[4].present? && @ranks[5].present?
            .index__recipe__page__ranks__field__first__box
              = link_to recipe_path(@ranks[0].id) do
                .image-box
                  %i.fas.fa-crown
                  %span 1
                  = image_tag @ranks[0].top_image.url
                .title-box
                  = @ranks[0].title
                = link_to user_path(@ranks[0].user) do
                  %span by
                  = @ranks[0].user.name
                %br/
                %span つくれぽ数：
                = @ranks[0].reports.count
            .index__recipe__page__ranks__field__after__box
              = link_to recipe_path(@ranks[1].id) do
                .image-box
                  %i.fas.fa-crown#silver
                  %span 2
                  = image_tag @ranks[1].top_image.url
                .title-box
                  = @ranks[1].title
                = link_to user_path(@ranks[1].user) do
                  %span by
                  = @ranks[1].user.name
                %br/
                %span つくれぽ数：
                = @ranks[1].reports.count
            .index__recipe__page__ranks__field__after__box
              = link_to recipe_path(@ranks[2].id) do
                .image-box
                  %i.fas.fa-crown#bronze
                  %span 3
                  = image_tag @ranks[2].top_image.url
                .title-box
                  = @ranks[2].title
                = link_to user_path(@ranks[2].user) do
                  %span by
                  = @ranks[2].user.name
                %br/
                %span つくれぽ数：
                = @ranks[2].reports.count
            .index__recipe__page__ranks__field__after__box
              = link_to recipe_path(@ranks[3].id) do
                .image-box
                  %i.fas.fa-crown#fource
                  %span 4
                  = image_tag @ranks[3].top_image.url
                .title-box
                  = @ranks[3].title
                = link_to user_path(@ranks[3].user) do
                  %span by
                  = @ranks[3].user.name
                %br/
                %span つくれぽ数：
                = @ranks[3].reports.count
            .index__recipe__page__ranks__field__after__box
              = link_to recipe_path(@ranks[4].id) do
                .image-box
                  %i.fas.fa-crown#fifth
                  %span 5
                  = image_tag @ranks[4].top_image.url
                .title-box
                  = @ranks[4].title
                = link_to user_path(@ranks[4].user) do
                  %span by
                  = @ranks[4].user.name
                %br/
                %span つくれぽ数：
                = @ranks[4].reports.count
            .index__recipe__page__ranks__field__after__box
              = link_to recipe_path(@ranks[5].id) do
                .image-box
                  %i.fas.fa-crown#sixth 
                  %span 6
                  = image_tag @ranks[5].top_image.url
                .title-box
                  = @ranks[5].title
                = link_to user_path(@ranks[5].user) do
                  %span by
                  = @ranks[5].user.name
                %br/
                %span つくれぽ数：
                = @ranks[5].reports.count
                
          - else
            %p ランキングはまだありません
            
      .index__recipe__page__category__field
        .title__field#main_color
          %h2 カテゴリーから探す ▶︎
        .upper__field
          .upper__field__container
            .index
              %i.fas.fa-carrot 
              野菜
            .contents
              %ul
                %li 
                  = link_to "キャベツ", search_recipes_path(keyword: "キャベツ")
                %li
                  = link_to "白菜", search_recipes_path(keyword: "白菜")
                %li
                  = link_to "じゃがいも", search_recipes_path(keyword: "じゃがいも")
          .upper__field__container
            .index
              %i.fas.fa-drumstick-bite
              お肉の料理
            .contents
              %ul
                %li
                  = link_to "豚肉", search_recipes_path(keyword: "豚肉")
                %li
                  = link_to "牛肉", search_recipes_path(keyword: "牛肉")
                %li
                  = link_to "鶏肉", search_recipes_path(keyword: "鶏肉")
          .upper__field__container
            .index
              %i.fas.fa-fish 
              お魚の料理
            .contents
              %ul
                %li
                  = link_to "さば", search_recipes_path(keyword: "さば")
                %li
                  = link_to "アジ", search_recipes_path(keyword: "アジ")
                %li
                  = link_to "イカ", search_recipes_path(keyword: "イカ")
          .upper__field__container
            .index
              %i.fas.fa-apple-alt
              サラダ
            .contents
              %ul
                %li
                  = link_to "生春巻き", search_recipes_path(keyword: "生春巻き")
                %li
                  = link_to "和風サラダ", search_recipes_path(keyword: "和風サラダ")
                %li
                  = link_to "洋風サラダ", search_recipes_path(keyword: "洋風サラダ")
        .row__field
          .row__field__container
            .index
              %i.fas.fa-hamburger
              ごはん
            .contents
              %ul
                %li
                  = link_to "丼", search_recipes_path(keyword: "丼")
                %li
                  = link_to "ピラフ", search_recipes_path(keyword: "ピラフ")
                %li
                  = link_to "チャーハン", search_recipes_path(keyword: "チャーハン")
          .row__field__container
            .index
              %i.fas.fa-pizza-slice
              パスタ・グラタン
            .contents
              %ul
                %li
                  = link_to "パスタ", search_recipes_path(keyword: "パスタ")
                %li
                  = link_to "グラタン", search_recipes_path(keyword: "グラタン")
                %li
                  = link_to "ニョッキ", search_recipes_path(keyword: "ニョッキ")
          .row__field__container
            .index
              %i.fas.fa-bacon 
              麺
            .contents
              %ul
                %li
                  = link_to "そば", search_recipes_path(keyword: "そば")
                %li 
                  = link_to "うどん", search_recipes_path(keyword: "うどん")
                %li
                  = link_to "ラーメン", search_recipes_path(keyword: "ラーメン")
          .row__field__container
            .index
              %i.fas.fa-bread-slice
              パン・ケーキ
            .contents
              %ul
                %li
                  = link_to "パン", search_recipes_path(keyword: "パン")
                %li 
                  = link_to "ホットケーキ", search_recipes_path(keyword: "ホットケーキ")
                %li
                  = link_to "ケーキ", search_recipes_path(keyword: "ケーキ")
        
      .index__recipe__page__new__field
        .title__field
          %i.fas.fa-utensils 
            新着レシピ
        .sub__title
          %i.far.fa-flag
          最新レシピを毎日更新 ▶︎
        .index__recipe__page__new__field--flex
          - if @recipes.present?
            - @recipes.each do |recipe|
              .index__recipe__page__new__field--flex__recipe__box
                = link_to recipe_path(recipe.id) do
                  .image-box
                    = image_tag recipe.top_image.url
                .title-box
                  = recipe.title
                %span by
                = link_to user_path(recipe.user) do
                  = recipe.user.name
          - else 
            %p 投稿レシピがまだありません
  