.main.index__recipe__page
  .container
    - @recipes.each do |recipe|
      = link_to recipe_path(recipe.id) do
        = recipe.title
      = image_tag recipe.top_image.url
    - if @ranks.present?
      - @ranks.each.with_index(1) do |recipe, i|
        = i
        ä½
        = link_to recipe_path(recipe.id) do
          = recipe.title
        = image_tag recipe.top_image.url