.main.show__recipe__page
  .container
    = @recipe.user.name
    = @recipe.title
    = image_tag @recipe.top_image.url
    - @recipe.foods.each do |food|
      = food.food_name
      = food.amount
    - @recipe.makes.each do |make|
      - if make.image.present?
        = image_tag make.image.url
      - if make.how_make.present?
        = make.how_make
    = @recipe.point
    = @recipe.background
    - if user_signed_in? && current_user.id == @recipe.user_id
      = link_to "削除", recipe_path(@recipe), method: :delete, data: {confirm: "削除しますか？"}
    .show__reports__contents
      %h2 この記事のつくれぽ
      - if @reports
        - @reports.each do |report|
          .field
            = image_tag report.report_image.url
          .field
            = report.comment
  #open
    つくれぽを書く
  #mask.hidden
  %section#modal.hidden
    .new__report__form
      %h2 つくれぽを投稿しよう！
      .new__report__form__body
        =form_for [@recipe, @report] do |f|
          .image-field
            %label(for="report_report_image")
              .field
                %img#top_img_prev-r
              - if @report.report_image.present?
                = image_tag @report.report_image.url, class: "top_present_img-r"
              -else 
                .report-image-box.top_present_img-r
                  %i.fas.fa-edit
                  写真をのせる
                  
              = f.file_field :report_image, class: "hidden"
            
          = f.text_area :comment
          = f.submit "つくれぽを投稿する"
    #close
      閉じる
    
    
    
    