.user__form
  .container
    .users__form__body
      %h2 登録情報の変更
      = form_for(current_user) do |f|
        .field
          %p ニックネーム
          .field-input
            = f.text_field :name, autofocus: true
        .field
          %p 登録しているメールアドレス
          .field-input
            = f.email_field :email
        .field
          = f.submit "更新", class: 'btn'
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
