.wrapper
  .container
    = @user.name
    さんの投稿レシピ
    - if @recipes.present?
      - @recipes.each do |recipe|
        = image_tag recipe.top_image.url
        = recipe.title
        - if current_user.id == recipe.user_id
          = link_to "削除", recipe_path(recipe), method: :delete, data: {confirm: "削除しますか？"}
    - else
      %p 投稿がまだありません
    = paginate(@recipes)
  = render 'layouts/side_bar'
     