.wrapper
  .container
    = @user.name
    さんのつくれぽ一覧
    - if @reports.present?
      - @reports.each do |report|
        = image_tag report.report_image.url
        = report.comment
        - if current_user.id == report.user_id
          = link_to "/recipes/#{report.recipe_id}/reports/#{report.id}", method: :delete, data: {confirm: "削除しますか？"} do
            削除する
    - else
      %p 投稿がまだありません
  = render 'layouts/side_bar'