.wrapper
  .container
    = render "/users/header"
    .users__mypage
      %ul.users__mypage__tabs
        = link_to "/users/#{@user.id}" do
          %li.users__mypage__tabs__tab.active
            トップ
        = link_to "/users/#{@user.id}/show_recipes" do
          %li.users__mypage__tabs__tab
            レシピ
        = link_to "/users/#{@user.id}/show_reports" do
          %li.users__mypage__tabs__tab
            つくれぽ
      .users__mypage__container
        .users__mypage__container__title
          = link_to "レシピ一覧 ▶︎", "/users/#{@user.id}/show_recipes"
        - if @recipes.present?
          .users__mypage__container__recipes__box
            - @recipes.each do |recipe|
              .users__mypage__container__recipes__box__recipe
                = link_to recipe_path(recipe) do
                  .users__mypage__container__recipes__box__recipe__image
                    = image_tag recipe.top_image.url
                .users__mypage__container__recipes__box__recipe__title
                  = recipe.title
        - else
          %p.message 投稿はまだありません
      .users__mypage__row__container
        .users__mypage__row__container__title
          = link_to "つくれぽ一覧 ▶︎", "/users/#{@user.id}/show_reports"
        - if @reports.present?
          .users__mypage__row__container__reports__box
            - @reports.each do |report|
              .users__mypage__row__container__reports__box__report
                .users__mypage__row__container__reports__box__report__image
                  = image_tag report.report_image.url
                .users__mypage__row__container__reports__box__report__title
                  = link_to "/recipes/#{report.recipe_id}" do
                    = report.recipe.title
                %span by
                %span
                  = report.recipe.user.name
                .users__mypage__row__container__reports__box__report__comment
                  = report.comment
        - else
          %p.message つくれぽはまだありません
  