.wrapper
  .container
    .session__container__form
      .session__container__form__title
        %h2 ログイン
        = link_to "新規登録はこちら", new_user_registration_path, class: 'btn'
        %h3.bold 採用担当者様は入力済みの情報で『ログイン』を押してください。
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .session__container__form__email__field
          %h3 登録しているメールアドレス
          = f.email_field :email, value: "test@test", autofocus: true
        .session__container__form__password__field
          %h3 パスワード
          = f.password_field :password, value: "11111111", autocomplete: "off", placeholder: "パスワード(英数字8文字以上)"
        .session__container__form__submit__field
          = f.submit "ログイン", class: 'btn session'
        .session__container__form__comment
          
          %p < 採用担当者様専用アカウント >
          %p email : test@test
          %p password : 11111111
